---
import Layout from "../layouts/Layout.astro";
import { RenderMessageList } from "../components/RenderMessageList.tsx";
---

<Layout title="ChatLLM">
  <div
    class="mx-[10%] max-h-[calc(100vh-150px)] mt-10 border-2 flex flex-col rounded-md border-slate-300"
  >
    <RenderMessageList client:load />

    <div
      class="overflow-scroll flex min-h-[80px] m-2 border-2 border-gray-700 rounded-lg"
    >
      <textarea
        placeholder="Enter Message"
        id="promptInput"
        class="w-[85%] outline-none p-2 flex-1"
        rows="3"
        style="resize: none;"></textarea>
      <button
        class="h-full w-[15%] bg-slate-200 mr-4 rounded-lg p-4 my-auto"
        id="sendChat">Send</button
      >
    </div>
  </div>
</Layout>

<script>
  const input = document.getElementById("promptInput") as HTMLInputElement;

  const pseduoInput = document.createElement("div");

  pseduoInput.style.visibility = "hidden";

  window.document.body.appendChild(pseduoInput);

  input?.addEventListener("input", function () {
    const textValue = this.value;
    pseduoInput.innerHTML = textValue;

    console.log(pseduoInput.clientHeight, "heigh");
  });
</script>
