---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Models">
  <main class="h-[calc(100vh-50px)]">
    <div class="h-full relative py-10 overflow-scroll max-w-[50%] mx-auto">
    </div>
  </main>
</Layout>
